<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Acount</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/form-styles.css">

</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main>
        <form action="/" method="get" class="formulary">
            <p class="form-control">
             <label for="Nombre">Nombre y Apellido</label>
             <input type="text" name="Nombre" id="Nombre" class="control" minlength="10" data-error="Dato no valido" data-success="Correcto" required>
           </p>
           <p class="form-control">
             <label for="usuario">Nombre de usuari@</label>
             <input type="text" name="usuario" id="usuario" class="control" minlength="5" data-error="Dato no valido" data-success="Correcto" required>
           </p>
           <p class="form-control">
             <label>Fecha de nacimiento</label>
             <input type="date" name="cumpleaños" class="control" value="YYYY-MM-DD" min="1940-01-01" max="2000-01-01" required>
           </p>
           <p class="form-control">
             <label for="domicilio">Domicilio</label>
             <input type="text" name="domicilio" id="domicilio" class="control" required>
           </p>
           <p class="form-control">
             <label for="perfil">Perfil de usuario</label>
             <input type="radio" name="perfil" id="perfil" value="Comprar">Comprar
             <input type="radio" name="perfil" id="perfil" value="Vender">Vender
           </p>
           <p class="form-control">
               <label>Categoria de interes</label>
               <input type="checkbox" name="interes" value="electro">Electro
               
               <input type="checkbox" name="interes" value="moda">Moda
               
               <input type="checkbox" name="interes" value="hogar">Hogar
               
               <input type="checkbox" name="interes" value="jugueteria">Jugueteria
               
               <input type="checkbox" name="interes" value="vida-sana">Vida Sana
           </p>
           <p class="form-control">
               <label>Foto de usuario</label>
               <input type="file" name="picture" class="control" accept=".jpg"> 
           </p>
           <p class="form-control">
               <label for="password">Contraseña</label>
               <input type="password" name="password" id="password" class="control" required>
           </p>
           <p class="form-control">
             <label for="confirm-pass">Confirmacion de contraseña</label>
             <input type="password" name="confirm-pass" id="confirm-pass" class="control" required>
           </p>
           <button type="submit" class="button">
             Enviar
           </button>
           <button type="reset" class="button">
               Borrar
           </button>
         </form>
    </main>
</body>
</html>